{
    # Глобальные настройки
    email glebpincuk@gmail.com
    admin off
}

# Основной сайт
https://cloud.tassadara.ru {
    reverse_proxy web:8000

    # Настройки безопасности
    header {
        -Server
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        X-XSS-Protection "1; mode=block"
        Referrer-Policy "strict-origin-when-cross-origin"
    }

    # Логирование
    log {
        output stdout
        format json
    }
}
